h1{
    color: blue;
}
p{font-family: fantasy}
p2{font-family:serif}
p{background-color: green;}
ol{color: palevioletred;}
ol{font-family: monospace;}
p3{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
ul{color: orange;}
